<!-- Default form register -->
<div class="back">
<div class="text-center border border-light p-5">
<div class="container">
    <p class="h4 mb-4">Sign up</p>

    <div class="form-row mb-4">
      <div class="col">
        <!-- First name -->
        <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name" #fname>
      </div>
      <div class="col">
        <!-- Last name -->
        <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name" #lname>
      </div>
    </div>

    <!-- E-mail -->
    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" #email>

    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" #password>
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      At least 8 characters and 1 digit
    </small>

    <!-- Phone number -->
    <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock" #phonenumber>
    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
      Optional - for two-step authentication
    </small>

    <input type="text" id="defaultRegisterAddress" class="form-control" placeholder="Address" aria-describedby="defaultRegisterFormAddressHelpBlock" #address>


    <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Bio" aria-describedby="defaultRegisterFormBioHelpBlock" #bio>


    <!-- Sign up button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit" (click)='signup(email.value,password.value,fname.value,phonenumber.value,bio.value,address.value)'>Create Account</button>

    <!-- Social register -->


    </div>
    </div>
  <!-- Default form register -->
</div>
